<!-- Load the web component used to render the header animation. -->
<script type="module" src="https://unpkg.com/@lottiefiles/lottie-player@2.0.12/dist/lottie-player.js"></script>
{{- $logoAnimation := "/img/logo/sheetmusic4j.json" -}}
{{- with resources.Get "logo/sheetmusic4j.json" -}}
  {{- $logoAnimation = .RelPermalink -}}
{{- end -}}
<a id="R-logo" class="R-default" href="{{ partial "permalink.gotmpl" (dict "to" .Site.Home) }}" aria-label="{{ .Site.Params.linkTitle | default .Site.Title }}">
  <lottie-player
    src="{{ $logoAnimation }}"
    background="transparent"
    speed="1"
    loop
    autoplay
    style="max-width: 14.125rem; height: 10rem; margin: 0 auto;"
  ></lottie-player>
</a>
