{{- $assetBusting := partialCached "assetbusting.gotmpl" . -}}
<link rel="icon" type="image/x-icon" href="{{ "favicon/favicon.ico" | relURL }}{{ $assetBusting }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon/favicon-32x32.png" | relURL }}{{ $assetBusting }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon/favicon-16x16.png" | relURL }}{{ $assetBusting }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "favicon/apple-touch-icon.png" | relURL }}{{ $assetBusting }}">
<link rel="manifest" href="{{ "favicon/site.webmanifest" | relURL }}{{ $assetBusting }}">

